/* Start Global Rules */
:root{
    --card-red-color: #c41463;
    --card-blue-color: #162a87;
    --btn-blue-color: #0a47f6;
    --btn-yellow-color: #d0971c;
    --section-padding: 60px;
    --White-color: white;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Work Sans", sans-serif;
}

.container{    
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

.btn{
    cursor: pointer;
    background-color: var(--btn-blue-color);
    color: var(--White-color);
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Mobile */
@media (max-width: 767px) {
    .container{    
        width: 100%;
    }
}

/* Small Screen */
@media (min-width: 768px) {
    .container{    
        width: 600px;
    }
}

/* Medium Screen */
@media (min-width: 992px) {
    .container{    
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container{    
        width: 1170px;
    }
}
/* End Global Rules */

/* Start companent */
.special-hedding{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-hedding + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
/* End companent */

/* Start Header */
.header{
    padding-bottom: 30px;
    background-image: url(../Images/banner-bg.png);
    background-size: cover;
    height: auto;
}

.header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header .logo{
    width: 60px;
    margin: 20px;
}

.header .links{
    width: 700px;
    margin: 5px auto;
    background-color: var(--White-color);
    border-radius: 10px;
    height: 39px;
    padding-top: 10px;
}

@media (max-width: 991px){
    .header .links{
        display: none;
    }
}

.header .links span{
    display: none;   
    width: 30px;
}

.header .links ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    margin-left: -11px;
}

.header .links ul li{
    text-align: center;
    width: calc(700px / 6);
    list-style: none;
    margin: 0;
    transition: 0.3s;
}

.header .links ul li:hover{
    margin-top: -5px;
}

.header .links ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* Start Links In Small Screen */
.header .links-small{
    display: none;
    position: relative;
    margin-top: 50px;
    align-self: flex-end;
}

@media (max-width: 991px){
    .header .links-small{
        display: block;
    }
}

.header .links-small:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links-small .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links-small .icon span{
    background-color: var(--White-color);
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
}

.header .links-small .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}

.header .links-small ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 0px;
    min-width: 200px;
    top: calc(100% + 20px);
    background-color: var(--White-color);
    display: none;
    z-index: 2;
}

.header .links-small ul::before{
    content: '';
    width: 0px;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: var(--White-color) transparent transparent transparent;
    right: 5px;
    top: -20px;
}

.header .links-small:hover ul{
    display: block;
}

.header .links-small ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: 0.3s;
}

.header .links-small ul li a:hover{
    padding-left: 25px;
}

.header .links-small ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/* End Links In Small Screen */

.header .intro-text{    
    position: relative;
    text-align: center;
    width: 576px;
    max-width: 100%;
    z-index: 1;
    color: var(--White-color);
    margin: 70px auto;
}

.header .intro-text h1{
    margin: 0px;
    font-weight: bold;
    font-size: 48px;
    font-family: auto;
}

@media(max-width: 593px){
    .header .intro-text h1{
        font-size: 25px;
    }
}

.header .intro-text p{
    font-size: 18px;
    line-height: 1.4;
}

.header .btn{
    border-radius: .25rem;
    margin-bottom: 50px;
}

.header .btn:hover{
    background-color: white;
    color: black;
}

.header .departments{
    margin-top: 50px;
    width: 100%;
    top: 143px;    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

@media (max-width: 991px){
    .header .departments{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));        
    }
}

.header .departments .card{
    background-color: var(--card-red-color);
    display: flex;
    flex-direction: column;
}

.header .departments .card:nth-child(2){
    background-color: var(--card-blue-color);
}

.header .departments .card .number{
    color: black;
    text-align: center;
    padding: 3px 5px;
    padding-top: 7px;
    background-color: var(--White-color);
    border-radius: 20px;
    width: 80px;
    height: 50px;
    font-size: 30px;
    font-weight: 400;
    margin: 20px auto;
}

.header .departments .card .title{
    text-align: center;
    margin: auto;
    color: var(--White-color);
    font-family: auto;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 400;
}

.header .departments .card p{
    text-align: center;
    margin: 20px auto;
    color: var(--White-color);
    font-family: auto;
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 15px;
    padding: 0 20px;
}
/* End Header */

/* Start Definition Message */
.definition{
    margin-top: 100px;
    margin-bottom: 100px;
}

.definition:last-of-type{
    background-color: var(--card-blue-color);
    margin: 0;
    padding: 100px 0;
}

.definition .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.definition:last-of-type .container{
    flex-direction: row-reverse;
    justify-content: center;
}

@media (max-width: 991px){    
    .definition .container {
        flex-direction: column;
        text-align: center;
    }
    .definition:last-of-type .container {
        flex-direction: column-reverse;
        text-align: center;
    }
}

.definition .container img{
    position: relative;
    width: 475px;
}

@media(max-width: 667px){
    .definition .container img{
        width: 300px;
    }
}

@media(max-width: 355px){
    .definition .container img{
        width: 200px;
    }
}

.definition .container .text{
    flex-basis: calc(100% - 500px);
}

.definition .container .text .btn{
    width: 150px;
}

.definition:last-of-type .container .text .btn{
    background-color: var(--btn-yellow-color);
    color: black;
}

.definition:last-of-type .container .text .btn:hover{
    background-color: var(--White-color);
}

@media (max-width: 991px){    
    .definition .container .text .btn{
        margin: 10px auto;
    }
}

.definition .container .text .btn:hover{
    background-color: var(--card-red-color);
}

.definition .container .text h1{
    font-family: auto;
}

.definition:last-of-type .container .text h1{
    color: var(--White-color);
}

.definition .container .text h1 span{
    font-weight: 100;
}

.definition:last-of-type .container .text ul {
    list-style: none;
    color: var(--White-color);
    font-weight: 400;
    font-family: auto;
    font-size: 30px;
    line-height: 2;
}

.definition .container .text ul li::before{
    content: '✓';
    display: inline-block;
    margin-right: 30px;
    margin-left: -30px;
}
/* End Definition Message */

/* Start Classes */
.classes{
    padding:60px 0;
    background-image: url(../Images/classes-bg.png);
}
.classes .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.classes .text{
    position: relative;
    font-family: auto;
    line-height: 1.6;
    font-size: 19px;
    margin-bottom: 30px;
}

.classes .text span{
    font-weight: 400;
    position: absolute;
    right: 50px;
    transform: translateX(-50%);
    color: var(--card-blue-color);
}

.classes .images{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.classes .images div{
    max-width: 100%;
    position: relative;
}

.classes .images div::before{
    content: 'VIEW MORE';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--card-blue-color);
    opacity: 0;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White-color);
    font-family: auto;
    font-weight: 400;
}

.classes .images div:hover::before{
    opacity: 0.7;
}

.classes .images div img{
    width: 100%;
}

.classes .btn{
    margin-top: 30px;
    padding: 10px 40px;
    transition: 0.3s;
    background-color: var(--card-blue-color);
}

.classes .btn:hover{
    background-color: black;
}
/* End Classes */