/* Start Global Rules */
:root{
    --main-color: #3db7ea;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --White-color: white;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Work Sans", sans-serif;
}

.container{    
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

/* Mobile */
@media (max-width: 767px) {
    .container{    
        width: 100%;
    }
}

/* Small Screen */
@media (min-width: 768px) {
    .container{    
        width: 600px;
    }
}

/* Medium Screen */
@media (min-width: 992px) {
    .container{    
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container{    
        width: 1170px;
    }
}
/* End Global Rules */

/* Start companent */
.special-hedding{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-hedding + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media(max-width: 767px){
    .special-hedding{
        font-size: 60px;
    }

    .special-hedding + p{
        margin: -20px;
    }
}
/* End companent */

/* Start Header */
.header{
    padding: repeat(3, 20px) 0;
    background-image: url(../Images/banner-bg.png);
    background-size: cover;
    height: calc(100vh - 20px);
}

.header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header .logo{
    width: 60px;
    margin: 20px;
}

.header .links{
    width: 700px;
    margin: 5px auto;
    background-color: var(--White-color);
    border-radius: 10px;
    height: 39px;
    padding-top: 10px;
}

@media (max-width: 991px){
    .header .links{
        display: none;
    }
}

.header .links span{
    display: none;   
    width: 30px;
}

.header .links ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    margin-left: -11px;
}

.header .links ul li{
    text-align: center;
    width: calc(700px / 6);
    list-style: none;
    margin: 0;
    transition: 0.3s;
}

.header .links ul li:hover{
    margin-top: -5px;
}

.header .links ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* Start Links In Small Screen */
.header .links-small{
    display: none;
    position: relative;
    margin-top: 50px;
}

@media (max-width: 991px){
    .header .links-small{
        display: block;
    }
}

.header .links-small:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links-small .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links-small .icon span{
    background-color: var(--White-color);
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
}

.header .links-small .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}

.header .links-small ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 0px;
    min-width: 200px;
    top: calc(100% + 20px);
    background-color: var(--White-color);
    display: none;
    z-index: 2;
}

.header .links-small ul::before{
    content: '';
    width: 0px;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: var(--White-color) transparent transparent transparent;
    right: 5px;
    top: -20px;
}

.header .links-small:hover ul{
    display: block;
}

.header .links-small ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: 0.3s;
}

.header .links-small ul li a:hover{
    padding-left: 25px;
}

.header .links-small ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/* End Links In Small Screen */

.header .intro-text{    
    position: relative;
    text-align: center;
    width: 576px;
    max-width: 100%;
    z-index: 1;
    color: var(--White-color);
    margin: 70px auto;
}

.header .intro-text h1{
    margin: 0px;
    font-weight: bold;
    font-size: 48px;
    font-family: auto;
}

.header .intro-text p{
    font-size: 18px;
    line-height: 1.4;
}

.header .btn{
    cursor: pointer;
    background-color: #0a47f6;
    color: var(--White-color);
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 50px;
}

.header .btn:hover{
    background-color: white;
    color: black;
}

.header .departments{
    position: relative;
    width: calc(100% + 20px);
    margin-left: -20px;
    top: 143px;    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 0;
}

@media (max-width: 1402px){
    .header .departments{
        top: 122px;    
    }
}

@media (max-width: 1217.9px){
    .header .departments{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
    }
}

@media (min-width: 1580px){
    .header .departments{
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr)); 
    }
}

.header .departments .card{
    background-color: #c41463;
    display: flex;
    flex-direction: column;
}

.header .departments .card:nth-child(2){
    background-color: #162a87;
}

.header .departments .card .number{
    color: black;
    text-align: center;
    padding: 3px 5px;
    padding-top: 7px;
    background-color: var(--White-color);
    border-radius: 20px;
    width: 80px;
    height: 50px;
    font-size: 30px;
    font-weight: 400;
    margin: 20px auto;
}

.header .departments .card .title{
    text-align: center;
    margin: auto;
    color: var(--White-color);
    font-family: auto;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 400;
}

.header .departments .card p{
    text-align: center;
    margin: 20px auto;
    color: var(--White-color);
    font-family: auto;
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 15px;
    padding: 0 20px;
}
/* End Header */